.page--main {
    .header {
        background-color: transparent;
    }

    .header.is-scrolled {
        background-color: var(--color-brand-primary);
    }
}


body.is-locked {
    overflow: hidden;
}


.section {
    padding: 0 5%;
    margin-bottom: var(--space-7);

    &:last-child {
        margin-bottom: 0;
    }
}

.page--about,
.page--work,
.page--contact {
    padding-top: 150px;
}

@media screen and (max-width: 768px) {

    .page--about,
    .page--work,
    .page--contact {
        padding-top: 100px;
    }

}