.footer {
    width: 100%;
    background-color: var(--color-brand-primary);
    color: var(--color-text-inverse-muted);
    margin-top: 150px;

    &__inner {
        margin: 0 auto;
        padding: 64px 5%;
    }

    /* ===== Content ===== */
    &__content {
        text-align: start;
    }

    &__eyebrow {
        font-size: 32px;
        font-weight: var(--font-weight-regular);
    }

    &__email {
        // border: 1px solid white;
    }

    &__email-link {
        font-size: clamp(48px, 6vw, 6vw);
        font-weight: var(--font-weight-black);
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 4px;
        }
    }

    &__row {
        // border: 1px solid red;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: var(--space-4);
    }

    &__description {
        line-height: 1.6;
        font-size: var(--font-size-md);
        margin-bottom: 0;
    }


    /* ===== Social ===== */
    &__social {
        display: flex;
        gap: var(--space-3);
    }

    &__social-item {
        // border: 1px solid red;
    }

    &__social-link {
        display: block;
    }

    &__icon {
        width: 48px;
        height: 48px;
        fill: currentColor;
    }

    /* ===== Divider ===== */
    &__divider {
        margin: 20px 0 32px;
        border: none;
        height: 1px;
        background-color: var(--color-text-inverse);
    }

    /* ===== Bottom ===== */
    &__bottom {
        text-align: center;
    }

    &__notice {
        font-weight: var(--font-weight-light);
        margin-bottom: 4px;
    }

    &__copyright {
        font-weight: var(--font-weight-thin);
    }
}

.footer {
    &__eyebrow,
    &__description,
    &__copyright {
        margin-bottom: 0;
    }
}



@media (max-width: 768px) {
    .footer__eyebrow {
        font-size: var(--font-size-md);
    }

    .footer__email-link {
        font-size: clamp(32px, 6vw, 6vw);
    }
    
    .footer__description {
        font-size: var(--font-size-sm);
    }

    .footer__row {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__social {
        justify-content: flex-start;
    }

    .footer__icon {
        width: 36px;
        height: 36px;
    }

    .footer {
        &__eyebrow,
        &__email,
        &__description {
            margin-bottom: 8px;
        }
    }
}

@media (max-width: 430px) {
    .footer__notice {
        font-size: var(--font-size-sm);
    }
}