.icon-md {
    width: 48px;
    height: 48px;
    fill: currentColor;
}

.icon-lg {
    width: 64px;
    height: 64px;
    fill: currentColor;
}



@media (max-width: 768px) {
    .icon-md {
        width: 36px;
        height: 36px;
    }

    .icon-lg {
        width: 48px;
        height: 48px;
        fill: currentColor;
    }
}



@media (max-width: 430px) {

    .icon-lg {
        width: 32px;
        height: 32px;
        fill: currentColor;
    }
}