.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    mix-blend-mode: multiply;
}

.scroll-top__btn {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 768px) {
    .scroll-top {
        right: 5%;
        bottom: 2%;
    }

    .scroll-top__btn {
        width: 36px;
        height: 36px;
    }
}